<section id="topbar" class="d-flex align-items-center">
  <div
    class="container d-flex justify-content-center justify-content-md-between"
  >
    <div class="contact-info d-flex align-items-center">
      <i class="bi bi-envelope-fill"></i
      ><a href="mailto:contact@example.com">banbientap@benhvien175.vn</a>
      <i class="bi bi-phone-fill phone-icon"></i> 19001175
    </div>
    <div class="social-links d-none d-md-block">
      <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
      <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>
  </div>
</section>
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto"><a href="index.html">BỆNH VIỆN 175</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">TRANG CHỦ</a></li>
        <li class="dropdown">
          <a href="#"
            ><span>GIỚI THIỆU </span> <i class="bi bi-chevron-down"></i
          ></a>
          <ul>
            <li><a href="#">Về chúng tôi</a></li>
            <li><a href="#">Đội ngũ lãnh đạo</a></li>
            <li><a href="#">Đội ngũ bác sĩ</a></li>
            <li><a href="#">Khối cơ quan hành chính</a></li>
            <li><a href="#">Sơ đồ tổ chức</a></li>
            <li><a href="#">Cơ sở vật chất</a></li>
            <li><a href="#">Tại sao chọn chúng tôi</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#"
            ><span>DÀNH CHO NGƯỜI BỆNH</span> <i class="bi bi-chevron-down"></i
          ></a>
          <ul>
            <li><a href="#">Thông tin bảo hiểm y tế</a></li>
            <li><a href="#">Dịch vụ khám chữa bệnh</a></li>
            <li><a href="#">Thủ tục xuất viện</a></li>
            <li><a href="#">Quy trình khám bệnh</a></li>
            <li><a href="#">Các câu hỏi thường gặp</a></li>
            <li><a href="#">Dịch vụ dành cho thân nhân</a></li>
          </ul>
        </li>

        <li><a class="nav-link scrollto" href="#portfolio">CHUYÊN KHOA</a></li>
        <li class="dropdown">
          <a href="#"
            ><span>HOẠT ĐỘNG TRỌNG TÂM</span> <i class="bi bi-chevron-down"></i
          ></a>
          <ul>
            <li><a href="#">Cấp cứu biển đảo-thiên tai-thảm hoạ</a></li>
            <li><a href="#">Giữ gìn hoà bình liên hợp quốc</a></li>
            <li><a href="#">Chỉ đạo tuyến</a></li>
            <li><a href="#">Huấn luyện đào tạo</a></li>
            <li><a href="#">Nghiên cứu khoa học</a></li>
            <li><a href="#">Hợp tác quốc tế</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#"
            ><span>TIN TỨC</span> <i class="bi bi-chevron-down"></i
          ></a>
          <ul>
            <li><a href="#">Tin tuyển dụng</a></li>
            <li class="dropdown">
              <a href="#"
                ><span>Bản tin 175</span> <i class="bi bi-chevron-right"></i
              ></a>
              <ul>
                <li><a href="#">Bảng tin</a></li>
                <li><a href="#">Gương sáng 175</a></li>
                <li><a href="#">Vòng tay nhân ái</a></li>
                <li><a href="#">Tìm thân nhân</a></li>
                <li><a href="#">Góc tri ân</a></li>
              </ul>
            </li>
            <li><a href="#">Tin nội bộ</a></li>
          </ul>
        </li>
        <li><a class="getstarted scrollto" routerLink="/auth">Đăng nhập</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
